#gallery{
	list-style-type: none;
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: row;
	padding: 0;
  margin: -15px;
}

li{
	margin: 15px;
}

.js-image{
	width: 100%;
	margin: 15px;
	border-radius: 4px;
}

.js-image:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* task-6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* task 8 */
.box{
	display: flex;
	position: fixed;
	border-radius: 4px;
	border: #f44336 1px solid;
}